@use '../abstracts' as *;

h1,
h2,
h3 {
	font-family: 'Ibarra Real Nova';
	font-weight: 700;
	color: var(--grayish-dark-blue);
}

h1 {
	font-size: 5rem;
	line-height: 5rem;
	letter-spacing: -0.45px;
	@include breakpoint(tablet) {
		font-size: 4rem;
		line-height: 4.2rem;
		letter-spacing: -0.36px;
	}
}

h2 {
	font-size: 4rem;
	line-height: 4.2rem;
	letter-spacing: -0.36px;
}

h3 {
	font-size: 3.2rem;
	line-height: 3.6rem;
	letter-spacing: -0.29px;
}

a {
	font-size: 1.2rem;
	line-height: 1.4rem;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: var(--grayish-dark-blue);
	text-decoration: none;
	cursor: pointer;
	transform: var(--animation-1);

	&:hover,
	&:focus {
		color: var(--slightly-desaturated-cyan);
	}
}
