:root {
	// COLOURS 
	// Primary
	--slightly-desaturated-cyan: #5FB4A2;
	--dark-blue: #203A4C;
	--grayish-dark-blue: #33323D;

	// Secondary
	--very-light-grey: #FAFAFA;
	--light-grey: #EAEAEB;
	--bright-red: #F43030;

	// TYPOGRAPHY
}
